VITE_API_URL=
VITE_FIREBASE_API_KEY=AIzaSyAd2zzO7qI6D-Um8gA6aoYPHFVulFDP_0Q
VITE_FIREBASE_AUTH_DOMAIN=internaloperationservice-f9727.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=internaloperationservice-f9727
VITE_FIREBASE_STORAGE_BUCKET=internaloperationservice-f9727.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=395400276005
VITE_FIREBASE_APP_ID=1:395400276005:web:94f776017f9b270d1577cc
